@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gradient-to-br from-sky-50 via-white to-sky-100 min-h-screen font-sans text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gradient-to-br from-gray-900 via-gray-800 to-gray-950 text-white;
}